{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

    {% if livros %}
        {% for livro in livros %}
            <p>Titulo: {{ livro.titulo }}</p>
            <p>Autor: {{ livro.autor }}</p>
            <p>Ano: {{ livro.ano }}</p>
        {% endfor %}
        <hr>
        {% for autor in autores %}
            <p>Nome: {{ autor.nome }}</p>
            <p>Primeira Publicação: {{ autor.primeira_publicacao }}</p>
            <p>Quantidade de Obras: {{ autor.quantidade_obras }}</p>
        {% endfor %}
    {% endif %}

    <form method="GET" action="{% url 'buscar' %}">
    {% csrf_token %}
    
    <input type="text" name="query">
    
    <button type="submit">Enviar</button>
</form>

{% endblock %}

